.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Alterado para evitar cortes */
  width: 100%;
  background-image: url("../../../public/auto_escola.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  color: #dd3131;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 0 20px; /* Espaçamento lateral */
}

.containerItens {
  height: 90vh;
  width: 100%;
  background: red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0 20px; /* Espaçamento lateral */
}

.containerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 15px;
  height: 60px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.form {
  width: 80%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: stretch;
}

.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: 200ms;
  background-color: #f9f9f9;
}

.form input:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.form label {
  color: blue;
  text-decoration: underline blue;
  user-select: none;
  cursor: pointer;
  margin-bottom: 15px;
}

.inputError {
  border-color: #f44336;
  background-color: #ffe6e6;
}

.loginButton {
  width: 80%;
  padding: 12px;
  border: none;
  background-color: #4caf50;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.loginButton:hover {
  background-color: #45a049;
}

.errorMessage {
  color: #f44336;
  font-size: 0.875rem;
  margin: 10px 0;
  text-align: center;
}

@media (max-width: 480px) {
  .containerLogin {
    width: 80%;
    height: 50%;
    padding: 20px;
  }

  .header {
    font-size: 1.5rem;
  }
}
